# Base de datos local
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.sqlite3-*

# Contraseñas y variables privadas
.env
.env.*
!.env.example
*.pem
*.key
*.crt

# Entorno virtual
venv/
.venv/
env/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos subidos por usuarios
media/
staticfiles/

# Archivos privados locales
secrets/
private/

# Visual Studio Code
.vscode/

# Caché y registros
.pytest_cache/
.coverage
*.log

# Windows
Thumbs.db
